.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 0 4px;
}

.pagination a.active {
  background-color: #707070;
  color: white;
  border: 1px solid #707070;
}
.pagination a:hover:not(.active) {background-color: #ddd;}
.pagination-center {
  text-align: center;
}