.login-container {
  padding: 0.5rem;
  cursor: pointer;
  font-family: Gotham;
  font-size: 1.5rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: center;
}
.color-light{
  color:#fff;
}
.color-dark{
  color:#000000!important;
}