$border-color: #000000;
$border-radius: 5px;

.flex-container {
	display: flex;
	cursor: pointer;
	font-weight: bold;
	margin: 1rem;
	margin-top: 1rem;
}
.flex-child {
  width: 2rem;
  padding: 0.3rem;
	border: 1px solid $border-color;
	text-align: center;
	&:first-child {
		border-top-left-radius: $border-radius;
		border-bottom-left-radius: $border-radius;
	}
	&:last-child {
		border-top-right-radius: $border-radius;
		border-bottom-right-radius: $border-radius;
	}
}
.disabled {
	cursor: not-allowed;
}
