$black: #000000;
$color_cod_gray_approx: #111;
$color_mine_shaft_approx: #222;

.Your-Cart {
  margin: 1rem;
  font-size: 2em;
  font-weight: 250;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.5;
  letter-spacing: normal;
  text-align: center;
  color: $black;
  font-family: Gotham;
}
.centeredText{
  text-align: center;
  position: relative;
  font-size: 2rem;
  margin-bottom:10rem;
}
.center-div {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin-top: 4rem;
}
.empty-cart{
  font-size:1.5rem;
  margin-bottom: 1rem;
}
.btn-wrapper{
  display: flex;
  justify-content: flex-end;
}
.btn {
    margin:0 auto;
    border-color: $color_cod_gray_approx;
    background-color: $color_mine_shaft_approx;
    text-shadow: $color_mine_shaft_approx -1px -1px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Gotham;
    position: relative;
    margin-bottom: 25px;
    border-radius: 10px;
    text-align: center;
    width: 15rem;
    height: 3rem;
    color: white;
    font-size: 1.4rem;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    outline: none;
    &:hover {
      opacity: 1;
      box-shadow: -6px -6px 6px rgba(255, 255, 255, 0.8),
        6px 6px 6px rgba(0, 0, 0, 0.2);
    }
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 10px;
  margin-left: 1rem;
}

.product-description {
  margin: 0.5rem;
}

.card-logo {
  margin: 0.5rem;
  width: 60%;
}

.cart-container{
  min-height: 20rem;
  margin: 1rem;
  display: flex;
  flex-direction:column;
  margin-left:15%;
  width:75%;
  margin-right:10%;
  @media screen and (max-width:420px){
    width:90%;
    margin-right:5%;
    margin-left:5%;
  }
}
.Rectangle-39 {
  width: 126px;
  height: 126px;
  margin: 23px 50px 23px 58px;
  border-radius: 10px;
}

.cartImage {
  max-width: 100%;
}

.cart-Item {
  width: 362px;
  height: 40px;
  margin: 108px 414px 38px 100px;
  font-size: 2rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: $black;
}
