.addresscard {
    background-color: #f4f4f4;
    margin: auto;
    box-shadow: 0 4px 8px 0 #707070;
    width: 40%;
    font-family: Gotham;
    text-align: left;
    border-radius: 10px;
    transition: all .2s ease-in-out;
    @media screen and (max-width:870px){
        width:60%;
      }
    @media screen and (max-width:530px){
        width:98%;
      }
}

.isDummy {
    transition: all .2s ease-in-out;
    &:hover {
        transform: scale(1.01);
      }
}
.flex-card {
  display: flex;
  flex-direction: column;
}

.addressDetails {
  margin:0;
  margin-left: 1rem;
  font-family: Gotham;
  font-size: 0.9rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.18;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}
.row-box{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 1rem;
  h2{
    display: inline;
    margin: 0;
    margin-left: 1rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.13;
    letter-spacing: normal;
    text-align: left;
    font-family: Gotham;
  }
}