.addresscard {
    background-color: #f4f4f4;
    margin: auto;
    box-shadow: 0 4px 8px 0 #707070;
    width: 40%;
    font-family: Gotham;
    text-align: left;
    border-radius: 10px;
    transition: all .2s ease-in-out;
    @media screen and (max-width:870px){
        width:60%;
      }
    @media screen and (max-width:530px){
        width:98%;
      }
}

.isDummy {
    transition: all .2s ease-in-out;
    &:hover {
        transform: scale(1.1);
      }
}
.flex-card {
	margin: 1rem;
	& > input {
		margin: 1rem;
    }
}

.address {
    width: 90%;
    margin: 1rem;
}
.addressDetails {
    display: block !important;
}