.header-cart-container{
  display: flex;
  align-items: center;
  img{
    width:1.8rem;
    margin-right:1rem;
    cursor: pointer;
  }
}

.badge {
  border-radius: 1rem;
}

.label-warning[href],
.badge-warning[href] {
  background-color: #c67605;
}
.lblCartCount {
  font-size: 0.7rem;
  background: #0011ff;
  color: #fff;
  padding: 0 0.2rem;
  vertical-align: top;
  position: relative;
  right: 1.5rem;
}