.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 1rem;
  .brand-container {
    display: flex;
    justify-content: space-between;
  }
  .menu-icon {
    margin-right: 1rem;
    cursor: pointer;
    width: 2rem;
  }
  .brand-name {
    font-family: MillionNotes;
    font-size: 32px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    cursor: pointer;
  }
  .search-bar {
    margin-left: 1rem;
    margin-right: 1rem;
    width: 68%;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(10, 91, 106, 0.16);
    background-color: #ffffff;
    .search-icon {
      margin-top: 0.5rem;
      margin-left: 0.5rem;
      width: 1.5rem;
    }
    input {
      width: 92%;
      padding: 0.5rem;
      border: none;
      font-size: 1.5rem;
      font-weight: normal;
      outline: none;
    }
    input::placeholder {
      font-family: MyanmarText;
      font-size: 1.5rem;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.19;
      letter-spacing: normal;
      text-align: left;
      color: #000000;
    }
    input:focus {
      outline: none;
    }
  }
  .login-container {
    padding: 0.5rem;
    cursor: pointer;
    font-family: Gotham;
    font-size: 1.5rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #000;
  }
}

//Footer CSS

.footer {
  position: relative;
  bottom: 0;
  background-color: #32353c;
  width: 100%;
  .footer-top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 2rem;
    .contact-info-section,
    .categories-section,
    .get-in-touch-section {
      h2 {
        font-family: ProximaNova;
        font-size: 1.5rem;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.19;
        letter-spacing: 0.67px;
        text-align: center;
        color: #f9f9f9;
      }
    }
    .contact-info-section {
      ul li {
        list-style: none;
        font-family: ProximaNova;
        font-size: 0.9rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.2;
        letter-spacing: 0.53px;
        text-align: center;
        color: #6f6f6f;
      }
      h4 {
        font-family: ProximaNova;
        font-size: 1rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.36;
        letter-spacing: 0.53px;
        text-align: left;
        color: #6f6f6f;
      }
      .inline-cards li {
        display: inline;
        padding: 5px;
        cursor: pointer;
      }
    }
    .categories-section {
      ul li {
        list-style: none;
        padding: 5px;
        font-family: ProximaNova;
        font-size: 0.9rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.2;
        letter-spacing: 0.53px;
        color: #6f6f6f;
        cursor: pointer;
      }
      li:hover {
        color: #f5f5f5;
      }
    }
    .get-in-touch-section {
      input {
        padding: 1rem;
        border: solid 1px #32353c;
        background-color: #ffffff;
        outline: none;
        font-size: 1rem;
      }
      input::placeholder {
        font-family: ProximaNova;
        font-size: 1rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.18;
        letter-spacing: 0.46px;
        text-align: left;
        color: #b7b7b7;
      }
      input:focus {
        outline: none;
      }
      span {
        padding: 1rem;
        border: solid 1px #32353c;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        background-color: #32353c;
        color: #fff;
        cursor: pointer;
      }
      p {
        font-family: ProximaNova;
        font-size: 1rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.36;
        letter-spacing: 0.53px;
        text-align: left;
        color: #6f6f6f;
      }
    }
  }
  .footer-bottom {
    display: flex;
    justify-content: space-between;
    margin-left: 2rem;
    margin-right: 2rem;
    border-top: solid 1px #707070;
    p {
      font-family: ProximaNova;
      font-size: 1.15rem;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.19;
      letter-spacing: 0.55px;
      text-align: center;
      color: rgba(255, 255, 255, 0.71);
    }
  }
}
.hamburger-menu-container {
  width: 300px;
  height: 800px;
  box-shadow: 16px 0 16px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  border-radius: 0.5rem;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  .header {
    display: flex;
    justify-content: space-between;
    .close-icon {
      width: 2.5rem;
      cursor: pointer;
    }
    .brand-name {
      font-family: MillionNotes;
      font-size: 2rem;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.2;
      letter-spacing: normal;
      color: #000000;
      margin: 0;
    }
  }
  .user-section {
    display: flex;
    justify-content: flex-start;
    background-color: #000000;
    padding: 0.5rem;
    color: #fff;
    .user-icon {
      width: 1.2rem;
      padding: 0.3rem;
      border: 0.1rem solid #fff;
      border-radius: 50%;
    }
    .user-name {
      font-family: Gotham;
      font-size: 1.2rem;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.2;
      letter-spacing: normal;
      color: #ffffff;
      margin: 0;
      text-align: center;
      margin-left: 0.8rem;
      margin-top: 0.3rem;
    }
  }
  ul {
    margin: 0;
  }
  ul li {
    list-style: none;
    font-family: Gotham;
    font-size: 1rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.19;
    letter-spacing: normal;
    color: #000000;
    cursor: pointer;
    padding-bottom: 0.1rem;
  }
  ul li a {
    text-decoration: none;
    color: #000000;
    cursor: pointer;
    font-size: 1rem;
  }
  .categories-section {
    h4 {
      margin: 0;
      margin-top: 2rem;
      margin-bottom: 1rem;
      margin-left: 2.5rem;
      font-family: Gotham;
      font-size: 1.5rem;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.2;
      letter-spacing: normal;
      text-align: left;
      color: #000000;
      text-transform: uppercase;
    }
  }
  .white-space {
    margin-top: 2rem;
  }
  .nav-menu {
    ul li {
      padding-bottom: 0.4rem;
    }
  }
  .logout-section {
    position: fixed;
    bottom: 1.5rem;
    left: 3rem;
    .btn {
      margin: auto;
      text-align: center;
      padding: 0.5rem 5rem 0.5rem 5rem;
      border-radius: 0.3rem;
      background-color: #ebebeb;
      border: none;
      outline: none;
      font-family: Gotham;
      font-size: 1rem;
      line-height: 1.19;
      text-align: left;
      color: #000000;
      cursor: pointer;
    }
    .btn::focus {
      outline: none;
    }
  }
}

// .cart {
//   top: 0;
//   right: 10px;
//   position: absolute;
//   margin: 0.6rem;
//   height: 4rem;
// }
