.favourites-container {
  margin-left: 15%;
  margin-right: 15%;
  @media screen and (max-width: 450px) {
    margin-left: 0px;
    margin-right: 0px;
    margin:1rem
  }
}
.favourites {
  text-align: center;
}
