.favourites-container {
  margin-left: 15%;
  margin-right: 15%;
  min-height: 20rem;
  @media screen and (max-width: 450px) {
    margin-left: 0px;
    margin-right: 0px;
    margin:1rem
  }
  p{
    text-align: center;
    font-family: Gotham;
  }
}
.favourites {
  text-align: center;
  
}
