$color-grey: #808080;

.center {
  text-align: center;
  font-family: Gotham;
  width: 100%;
}
main {
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: table;
  align-items: center;
  border-collapse:separate;
  border-spacing:5px;
  margin: 1em;
}

.titleDemand {
  font-size: 1.3rem;
}

// Loader

div.container-loader {
	display: flex;
	justify-content: center;
	align-items: center;
}
div.container-loader > div {
	width: 3vw;
	height: 3vw;
	border-radius: 100%;
	margin: 1vw;
	background-image: linear-gradient(145deg, rgba(255,255,255,0.5) 0%, rgba(0,0,0,0) 100%);
	animation: bounce 1.5s 0.5s linear infinite;
}
.load {
	background: $color-grey;
}

.load2 {
	background-color: $color-grey;
	animation-delay: 0.1s;
}

.load3 {
	background-color: $color-grey;
	animation-delay: 0.2s;
}

.load4 {
	background-color: $color-grey;
	animation-delay: 0.3s;
}

@keyframes bounce {
	0%, 50%, 100% {
		transform: scale(1);
		filter: blur(0px);
	}
	25% {
		transform: scale(0.6);
		filter: blur(2px);
	}
	75% {
		filter: blur(2px);
		transform: scale(1.4);
	}
}
