.center {
  text-align: center;
  font-family: Gotham;
  width: 100%;
}
main {
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.titleDemand {
  font-size: 1.3rem;
}