
.products-container{
    h2{
    font-family: Gotham;
    font-size: 4rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
    }
  .all-products-wrapper{
    display: flex;
    flex-direction:column;
    margin-left:15%;
    width:75%;
    margin-right:10%;
  }
  .product-container{
    border-radius: 1.2rem;
    box-shadow: 0 0 1rem 0 rgba(40, 44, 181, 0.16);
    background-color: #ffffff;
    display:flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    align-items: center;
    cursor: pointer;
    padding: 1rem;
  }
  .product-image{
    width: 10rem;
    height: 8rem;
    margin: 0 2rem 0 0;
    border-radius: 1rem;
  }
  .row-left{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    h4{
      font-family: Gotham;
      font-size: 1.5rem;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.21;
      letter-spacing: normal;
      text-align: left;
      color: #000000;
    }
  }
  .row-right{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  .price{
    margin:0;
    margin-right:1rem;
    font-family: PalatinoLinotype;
    font-size: 1rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: 0.2px;
    text-align: right;
    color: #32353c;
    }
  .inr-symbol{
    width:0.8rem;
  }
  }
}