.orders{
  margin-left:3rem;
  margin-right:3rem;
  h2{
  font-family: Gotham;
  font-size: 52px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: left;
  color: var(--black);
  }
}